<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder  class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy/MM/dd-HH:mm:ss.SSS} %level [%thread] %class:%line>>%msg%n</pattern>
		</encoder >
	</appender>

	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
</configuration>
		<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->

	<!--&lt;!&ndash;<jmxConfigurator/>&ndash;&gt;-->

	<!--&lt;!&ndash;<property name="maxHistory" value="30"/>&ndash;&gt;-->



	<!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
		<!--<encoder>-->
			<!--&lt;!&ndash; 格式化输出：%d表示日期，%t表示线程名，%p 级别, %logger logger name最多36字节 %msg：日志消息，%n是换行符 &ndash;&gt;-->
			<!--<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%p] [%logger{36}] - %m%n-->
			<!--</pattern>-->
		<!--</encoder>-->
	<!--</appender>-->

	<!--&lt;!&ndash;<appender name="engineSqlFileAppender"&ndash;&gt;-->
		<!--&lt;!&ndash;class="ch.qos.logback.core.rolling.RollingFileAppender">&ndash;&gt;-->
		<!--&lt;!&ndash;<file>${openddal.logfile}_engine_sql.log</file>&ndash;&gt;-->
		<!--&lt;!&ndash;<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">&ndash;&gt;-->
			<!--&lt;!&ndash;<fileNamePattern>${openddal.logfile}_engine_sql_%i.log&ndash;&gt;-->
			<!--&lt;!&ndash;</fileNamePattern>&ndash;&gt;-->
			<!--&lt;!&ndash;&lt;!&ndash; keep 10G' worth of history &ndash;&gt;&ndash;&gt;-->
			<!--&lt;!&ndash;<minIndex>1</minIndex>&ndash;&gt;-->
			<!--&lt;!&ndash;<maxIndex>10</maxIndex>&ndash;&gt;-->
		<!--&lt;!&ndash;</rollingPolicy>&ndash;&gt;-->
		<!--&lt;!&ndash;<append>true</append>&ndash;&gt;-->
		<!--&lt;!&ndash;<triggeringPolicy&ndash;&gt;-->
			<!--&lt;!&ndash;class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">&ndash;&gt;-->
			<!--&lt;!&ndash;<maxFileSize>1GB</maxFileSize>&ndash;&gt;-->
		<!--&lt;!&ndash;</triggeringPolicy>&ndash;&gt;-->
		<!--&lt;!&ndash;<encoder>&ndash;&gt;-->
			<!--&lt;!&ndash;&lt;!&ndash; 格式化输出：%d表示日期，%t表示线程名，%p 级别, %logger logger name最多36字节 %msg：日志消息，%n是换行符 &ndash;&gt;&ndash;&gt;-->
			<!--&lt;!&ndash;<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%p] [%logger{36}] - %m%n&ndash;&gt;-->
			<!--&lt;!&ndash;</pattern>&ndash;&gt;-->
		<!--&lt;!&ndash;</encoder>&ndash;&gt;-->
	<!--&lt;!&ndash;</appender>&ndash;&gt;-->

	<!--&lt;!&ndash;<appender name="serverAccessFileAppender"&ndash;&gt;-->
		<!--&lt;!&ndash;class="ch.qos.logback.core.rolling.RollingFileAppender">&ndash;&gt;-->
		<!--&lt;!&ndash;<file>${openddal.logfile}_server_access.log</file>&ndash;&gt;-->
		<!--&lt;!&ndash;<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">&ndash;&gt;-->
			<!--&lt;!&ndash;<fileNamePattern>${openddal.logfile}_server_access_%i.log&ndash;&gt;-->
			<!--&lt;!&ndash;</fileNamePattern>&ndash;&gt;-->
			<!--&lt;!&ndash;&lt;!&ndash; keep 10G' worth of history &ndash;&gt;&ndash;&gt;-->
			<!--&lt;!&ndash;<minIndex>1</minIndex>&ndash;&gt;-->
			<!--&lt;!&ndash;<maxIndex>10</maxIndex>&ndash;&gt;-->
		<!--&lt;!&ndash;</rollingPolicy>&ndash;&gt;-->
		<!--&lt;!&ndash;<append>true</append>&ndash;&gt;-->
		<!--&lt;!&ndash;<triggeringPolicy&ndash;&gt;-->
			<!--&lt;!&ndash;class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">&ndash;&gt;-->
			<!--&lt;!&ndash;<maxFileSize>1GB</maxFileSize>&ndash;&gt;-->
		<!--&lt;!&ndash;</triggeringPolicy>&ndash;&gt;-->
		<!--&lt;!&ndash;<encoder>&ndash;&gt;-->
			<!--&lt;!&ndash;<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] - %m%n</pattern>&ndash;&gt;-->
		<!--&lt;!&ndash;</encoder>&ndash;&gt;-->
	<!--&lt;!&ndash;</appender>&ndash;&gt;-->

	<!--&lt;!&ndash;<appender name="flowFileAppender"&ndash;&gt;-->
		<!--&lt;!&ndash;class="ch.qos.logback.core.rolling.RollingFileAppender">&ndash;&gt;-->
		<!--&lt;!&ndash;<file>${openddal.logfile}_flow.log</file>&ndash;&gt;-->
		<!--&lt;!&ndash;<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">&ndash;&gt;-->
			<!--&lt;!&ndash;<fileNamePattern>${openddal.logfile}_flow_%i.log&ndash;&gt;-->
			<!--&lt;!&ndash;</fileNamePattern>&ndash;&gt;-->
			<!--&lt;!&ndash;&lt;!&ndash; keep 10G' worth of history &ndash;&gt;&ndash;&gt;-->
			<!--&lt;!&ndash;<minIndex>1</minIndex>&ndash;&gt;-->
			<!--&lt;!&ndash;<maxIndex>10</maxIndex>&ndash;&gt;-->
		<!--&lt;!&ndash;</rollingPolicy>&ndash;&gt;-->
		<!--&lt;!&ndash;<append>true</append>&ndash;&gt;-->
		<!--&lt;!&ndash;<triggeringPolicy&ndash;&gt;-->
			<!--&lt;!&ndash;class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">&ndash;&gt;-->
			<!--&lt;!&ndash;<maxFileSize>1GB</maxFileSize>&ndash;&gt;-->
		<!--&lt;!&ndash;</triggeringPolicy>&ndash;&gt;-->
		<!--&lt;!&ndash;<encoder>&ndash;&gt;-->
			<!--&lt;!&ndash;&lt;!&ndash; 格式化输出：%d表示日期，%t表示线程名，%p 级别, %logger logger name最多36字节 %msg：日志消息，%n是换行符 &ndash;&gt;&ndash;&gt;-->
			<!--&lt;!&ndash;<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%p] [%logger{36}] - %m%n&ndash;&gt;-->
			<!--&lt;!&ndash;</pattern>&ndash;&gt;-->
		<!--&lt;!&ndash;</encoder>&ndash;&gt;-->
	<!--&lt;!&ndash;</appender>&ndash;&gt;-->

	<!--&lt;!&ndash;<appender name="errorFileAppender"&ndash;&gt;-->
		<!--&lt;!&ndash;class="ch.qos.logback.core.rolling.RollingFileAppender">&ndash;&gt;-->
		<!--&lt;!&ndash;<file>${openddal.logfile}_error.log</file>&ndash;&gt;-->
		<!--&lt;!&ndash;<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">&ndash;&gt;-->
			<!--&lt;!&ndash;<fileNamePattern>${openddal.logfile}_error_%i.log&ndash;&gt;-->
			<!--&lt;!&ndash;</fileNamePattern>&ndash;&gt;-->
			<!--&lt;!&ndash;&lt;!&ndash; keep 1G' worth of history &ndash;&gt;&ndash;&gt;-->
			<!--&lt;!&ndash;<minIndex>1</minIndex>&ndash;&gt;-->
			<!--&lt;!&ndash;<maxIndex>10</maxIndex>&ndash;&gt;-->
		<!--&lt;!&ndash;</rollingPolicy>&ndash;&gt;-->
		<!--&lt;!&ndash;<append>true</append>&ndash;&gt;-->
		<!--&lt;!&ndash;<triggeringPolicy&ndash;&gt;-->
			<!--&lt;!&ndash;class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">&ndash;&gt;-->
			<!--&lt;!&ndash;<maxFileSize>100mb</maxFileSize>&ndash;&gt;-->
		<!--&lt;!&ndash;</triggeringPolicy>&ndash;&gt;-->

		<!--&lt;!&ndash;<encoder>&ndash;&gt;-->
			<!--&lt;!&ndash;&lt;!&ndash; 格式化输出：%d表示日期，%t表示线程名，%p 级别, %logger logger name最多36字节 %msg：日志消息，%n是换行符 &ndash;&gt;&ndash;&gt;-->
			<!--&lt;!&ndash;<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%p] [%logger{36}] - %m%n</pattern>&ndash;&gt;-->
		<!--&lt;!&ndash;</encoder>&ndash;&gt;-->
		<!--&lt;!&ndash;<filter class="ch.qos.logback.classic.filter.LevelFilter">&ndash;&gt;-->
			<!--&lt;!&ndash;<level>ERROR</level>&ndash;&gt;-->
			<!--&lt;!&ndash;<onMatch>ACCEPT</onMatch>&ndash;&gt;-->
			<!--&lt;!&ndash;<onMismatch>DENY</onMismatch>&ndash;&gt;-->
		<!--&lt;!&ndash;</filter>&ndash;&gt;-->
	<!--&lt;!&ndash;</appender>&ndash;&gt;-->


	<!--&lt;!&ndash;<appender name="engineSqlAsyncAppender" class="ch.qos.logback.classic.AsyncAppender">&ndash;&gt;-->
		<!--&lt;!&ndash;&lt;!&ndash; 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 &ndash;&gt;&ndash;&gt;-->
		<!--&lt;!&ndash;<discardingThreshold>0</discardingThreshold>&ndash;&gt;-->
		<!--&lt;!&ndash;&lt;!&ndash; 更改默认的队列的深度,该值会影响性能.默认值为256 &ndash;&gt;&ndash;&gt;-->
		<!--&lt;!&ndash;<queueSize>1024</queueSize>&ndash;&gt;-->
		<!--&lt;!&ndash;&lt;!&ndash; 添加附加的appender,最多只能添加一个 &ndash;&gt;&ndash;&gt;-->
		<!--&lt;!&ndash;<appender-ref ref="engineSqlFileAppender" />&ndash;&gt;-->
	<!--&lt;!&ndash;</appender>&ndash;&gt;-->

	<!--&lt;!&ndash;<appender name="serverAccessAsyncAppender" class="ch.qos.logback.classic.AsyncAppender">&ndash;&gt;-->
		<!--&lt;!&ndash;&lt;!&ndash; 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 &ndash;&gt;&ndash;&gt;-->
		<!--&lt;!&ndash;<discardingThreshold>0</discardingThreshold>&ndash;&gt;-->
		<!--&lt;!&ndash;&lt;!&ndash; 更改默认的队列的深度,该值会影响性能.默认值为256 &ndash;&gt;&ndash;&gt;-->
		<!--&lt;!&ndash;<queueSize>1024</queueSize>&ndash;&gt;-->
		<!--&lt;!&ndash;&lt;!&ndash; 添加附加的appender,最多只能添加一个 &ndash;&gt;&ndash;&gt;-->
		<!--&lt;!&ndash;<appender-ref ref="serverAccessFileAppender" />&ndash;&gt;-->
	<!--&lt;!&ndash;</appender>&ndash;&gt;-->

	<!--&lt;!&ndash;<appender name="flowAsyncAppender" class="ch.qos.logback.classic.AsyncAppender">&ndash;&gt;-->
		<!--&lt;!&ndash;&lt;!&ndash; 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 &ndash;&gt;&ndash;&gt;-->
		<!--&lt;!&ndash;<discardingThreshold>0</discardingThreshold>&ndash;&gt;-->
		<!--&lt;!&ndash;&lt;!&ndash; 更改默认的队列的深度,该值会影响性能.默认值为256 &ndash;&gt;&ndash;&gt;-->
		<!--&lt;!&ndash;<queueSize>1024</queueSize>&ndash;&gt;-->
		<!--&lt;!&ndash;&lt;!&ndash; 添加附加的appender,最多只能添加一个 &ndash;&gt;&ndash;&gt;-->
		<!--&lt;!&ndash;<appender-ref ref="flowFileAppender" />&ndash;&gt;-->
	<!--&lt;!&ndash;</appender>&ndash;&gt;-->
	<!--&lt;!&ndash; &ndash;&gt;-->
	<!--&lt;!&ndash;<appender name="errorAsyncAppender" class="ch.qos.logback.classic.AsyncAppender">&ndash;&gt;-->
		<!--&lt;!&ndash;&lt;!&ndash; 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 &ndash;&gt;&ndash;&gt;-->
		<!--&lt;!&ndash;<discardingThreshold>0</discardingThreshold>&ndash;&gt;-->
		<!--&lt;!&ndash;&lt;!&ndash; 更改默认的队列的深度,该值会影响性能.默认值为256 &ndash;&gt;&ndash;&gt;-->
		<!--&lt;!&ndash;<queueSize>1024</queueSize>&ndash;&gt;-->
		<!--&lt;!&ndash;&lt;!&ndash; 添加附加的appender,最多只能添加一个 &ndash;&gt;&ndash;&gt;-->
		<!--&lt;!&ndash;<appender-ref ref="errorFileAppender" />&ndash;&gt;-->
	<!--&lt;!&ndash;</appender>&ndash;&gt;-->

	<!--&lt;!&ndash;<if condition='!property("openddal.accesslog").equals("false")'>&ndash;&gt;-->
		<!--&lt;!&ndash;<then>&ndash;&gt;-->
			<!--&lt;!&ndash;<logger name="AccessLogger" additivity="false" level="INFO">&ndash;&gt;-->
				<!--&lt;!&ndash;<appender-ref ref="serverAccessAsyncAppender" />&ndash;&gt;-->
				<!--&lt;!&ndash;<if condition='property("openddal.stdout").equals("true")'>&ndash;&gt;-->
					<!--&lt;!&ndash;<then>&ndash;&gt;-->
						<!--&lt;!&ndash;<appender-ref ref="STDOUT" />&ndash;&gt;-->
					<!--&lt;!&ndash;</then>&ndash;&gt;-->
				<!--&lt;!&ndash;</if>&ndash;&gt;-->
			<!--&lt;!&ndash;</logger>&ndash;&gt;-->
		<!--&lt;!&ndash;</then>&ndash;&gt;-->
		<!--&lt;!&ndash;<else>&ndash;&gt;-->
			<!--&lt;!&ndash;<logger name="AccessLogger" level="OFF" />&ndash;&gt;-->
		<!--&lt;!&ndash;</else>&ndash;&gt;-->
	<!--&lt;!&ndash;</if>&ndash;&gt;-->

	<!--&lt;!&ndash;<if condition='!property("openddal.sqllog").equals("false")'>&ndash;&gt;-->
		<!--&lt;!&ndash;<then>&ndash;&gt;-->
			<!--&lt;!&ndash;<logger name="ddal-engine-jdbc" additivity="false" level="INFO">&ndash;&gt;-->
				<!--&lt;!&ndash;<appender-ref ref="engineSqlAsyncAppender" />&ndash;&gt;-->
				<!--&lt;!&ndash;<if condition='property("openddal.stdout").equals("true")'>&ndash;&gt;-->
					<!--&lt;!&ndash;<then>&ndash;&gt;-->
						<!--&lt;!&ndash;<appender-ref ref="STDOUT" />&ndash;&gt;-->
					<!--&lt;!&ndash;</then>&ndash;&gt;-->
				<!--&lt;!&ndash;</if>&ndash;&gt;-->
			<!--&lt;!&ndash;</logger>&ndash;&gt;-->
		<!--&lt;!&ndash;</then>&ndash;&gt;-->
		<!--&lt;!&ndash;<else>&ndash;&gt;-->
			<!--&lt;!&ndash;<logger name="ddal-engine-jdbc" additivity="false" level="INFO">&ndash;&gt;-->
				<!--&lt;!&ndash;<appender-ref ref="flowAsyncAppender" />&ndash;&gt;-->
				<!--&lt;!&ndash;<if condition='property("openddal.stdout").equals("true")'>&ndash;&gt;-->
					<!--&lt;!&ndash;<then>&ndash;&gt;-->
						<!--&lt;!&ndash;<appender-ref ref="STDOUT" />&ndash;&gt;-->
					<!--&lt;!&ndash;</then>&ndash;&gt;-->
				<!--&lt;!&ndash;</if>&ndash;&gt;-->
			<!--&lt;!&ndash;</logger>&ndash;&gt;-->
		<!--&lt;!&ndash;</else>&ndash;&gt;-->
	<!--&lt;!&ndash;</if>&ndash;&gt;-->

	<!--&lt;!&ndash; disabled info level log by default &ndash;&gt;-->
	<!--&lt;!&ndash;<if condition='property("openddal.flowlog").equals("true")'>&ndash;&gt;-->
		<!--&lt;!&ndash;<then>&ndash;&gt;-->
			<!--&lt;!&ndash;<root level="INFO">&ndash;&gt;-->
				<!--&lt;!&ndash;<appender-ref ref="flowAsyncAppender" />&ndash;&gt;-->
				<!--&lt;!&ndash;<appender-ref ref="errorAsyncAppender" />&ndash;&gt;-->
				<!--&lt;!&ndash;<if condition='property("openddal.stdout").equals("true")'>&ndash;&gt;-->
					<!--&lt;!&ndash;<then>&ndash;&gt;-->
						<!--&lt;!&ndash;<appender-ref ref="STDOUT" />&ndash;&gt;-->
					<!--&lt;!&ndash;</then>&ndash;&gt;-->
				<!--&lt;!&ndash;</if>&ndash;&gt;-->
			<!--&lt;!&ndash;</root>&ndash;&gt;-->
		<!--&lt;!&ndash;</then>&ndash;&gt;-->
		<!--&lt;!&ndash;<else>&ndash;&gt;-->
			<!--&lt;!&ndash;<root level="WARN">&ndash;&gt;-->
				<!--&lt;!&ndash;<appender-ref ref="errorAsyncAppender" />&ndash;&gt;-->
				<!--&lt;!&ndash;<if condition='property("openddal.stdout").equals("true")'>&ndash;&gt;-->
					<!--&lt;!&ndash;<then>&ndash;&gt;-->
						<!--&lt;!&ndash;<appender-ref ref="STDOUT" />&ndash;&gt;-->
					<!--&lt;!&ndash;</then>&ndash;&gt;-->
				<!--&lt;!&ndash;</if>&ndash;&gt;-->
			<!--&lt;!&ndash;</root>&ndash;&gt;-->
		<!--&lt;!&ndash;</else>&ndash;&gt;-->
	<!--&lt;!&ndash;</if>&ndash;&gt;-->

	<!--<root level="debug">-->
		<!--&lt;!&ndash; 控制台输出 &ndash;&gt;-->
		<!--<appender-ref ref="STDOUT" />-->
	<!--</root>-->


<!--</configuration>-->